table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    position : sticky;
    top : 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f0f0f0;
    font-size: 14px;
    font-weight: 700;
    color: #757575;
}

#tdComponent {
    padding: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #757575;
    font-size: 14px;
    border-bottom: 2px solid #f0f0f0;
}

#tdComponentSmaller {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #757575;
    font-size: 14px;
    border-bottom: 2px solid #f0f0f0;
}

tr {
    transition: background-color 0.2s ease-in-out;
}

tr:hover {
    background-color: #f9f9f9;
}

.detailLink {
    color: #757575;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.detailLink:hover {
    color: black;
}